<header class="main-header-countainer">
    <div class="header-contain">
        <h1>
            <a class="main-logo" href="/">
                <span class='main-logo-text'>
                    Adereços Code Crafters
                    <i class="fas fa-mug-hot fa-beat-fade main-logo-icon"></i>
                </span>
                <div class="instagram">
                    <i class="fab fa-instagram fa-smaller"></i>
                </div>
                <div class="linkedin">
                    <i class="fab fa-linkedin fa-smaller"></i>
                </div>
                <div class="aws">
                    <i class="fab fa-aws fa-smaller"></i>
                </div>
    </div>
    </a>
    </h1>
</header>